.button {
  padding: 0.8rem 2rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: bold;
  margin-right: 1rem;
}

.button:hover {
  color: #fff;
  background: #2046b9;
}

.button.active {
  background: #0400e0;
  color: #fff;
}
